<section class="ui-lang-bg pace-done">
    <div class="wrapper">
        <div class="content" data-container="body">
            <section class="col-holder contact-page bottom-space">
                <aside class="left-col">
                    
                    <div class="contact-aside contact-form" data-container="office-info-aside">
                        <div class="info-window">
                            <input name="Email" id="Email" type="hidden" value="aresrealbg@gmail.com">
                            <h5>АРЕС Имоти БГ</h5>
                            <table class="address-table">
                                <tbody>
                                    <tr>
                                        <th>Адрес:</th>
                                        <td>София 1142, ул. "Любен Каравелов" 31, ет. 1</td>
                                    </tr>

                                    <tr>
                                        <th>Телефон:</th>
                                        <td class="descr-list-tel">
                                            <span>+359 988 878 866</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Работно време:</th>
                                        <td>пон-пет: 8.30-18.30<br>събота: 10.00-14.00<br>неделя: неработен ден</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </aside>
            </section>
        </div>
    </div>
</section>
