<h2 class="text-center">
    Купувам
</h2>

<section>
    <div class="map-info-bye">

    </div>

    <div class="property-info-bye">
        <section class="card">
            <header>
                <img src="./Images/testHouse.jpg" alt="Alternate Text" />
            </header>

            <section>
                <h3>
                    Test
                </h3>

                <p>
                    test test test test
                </p>
            </section>
        </section>

        <section class="card">
            <header>
                <img src="./Images/testHouse.jpg" alt="Alternate Text" />
            </header>

            <section>
                <h3>
                    Test
                </h3>

                <p>
                    test test test test
                </p>
            </section>
        </section>

        <section class="card">
            <header>
                <img src="./Images/testHouse.jpg" alt="Alternate Text" />
            </header>

            <section>
                <h3>
                    Test
                </h3>

                <p>
                    test test test test
                </p>
            </section>
        </section>

        <section class="card">
            <header>
                <img src="./Images/testHouse.jpg" alt="Alternate Text" />
            </header>

            <section>
                <h3>
                    Test
                </h3>

                <p>
                    test test test test
                </p>
            </section>
        </section>

        <section class="card">
            <header>
                <img src="./Images/testHouse.jpg" alt="Alternate Text" />
            </header>

            <section>
                <h3>
                    Test
                </h3>

                <p>
                    test test test test
                </p>
            </section>
        </section>

        <section class="card">
            <header>
                <img src="./Images/testHouse.jpg" alt="Alternate Text" />
            </header>

            <section>
                <h3>
                    Test
                </h3>

                <p>
                    test test test test
                </p>
            </section>
        </section>

        
    </div>
</section>
